<%- include ('./partials/head') %>

<body class="grid grid-cols-7">
    <%- include ('./partials/sidebar') %>
    <div class="col-span-6 h-screen light-bg">
        <div class="flex flex-col w-11/12 row-sec mx-auto my-7">
            <div class=" column-container border-b-2 md:text-sm sm:text-xs border-b-slate-900 w-full main-bg grid grid-cols-<%= (data.columnNames.length + 1) %>">
                <% for(var g = 0; g < data.columnNames.length; g++) { %>

                    <% if(data.columnNames[g] === "uid") { %>
                        <div class="col-span-2 leading-8 ml-3"> <%= data.columnNames[g] %> </div>
                    <% }else {%>

                        <div class="col-span-1 leading-8 ml-3"> <%= data.columnNames[g] %> </div>
                    <% } %>
                    
                <% } %>
            </div>
            
                <% for(exam of data.examData) { %>
                    <div class="row row-container text-xs w-full grid grid-cols-<%= data.columnNames.length + 1 %>">
                        <div class="col-span-1 leading-6 ml-3"> <%= exam.eid %> </div>
                        <div class="col-span-2 leading-6 ml-3"> <%= exam.uid %> </div>
                        <div class="col-span-1 leading-6 ml-3"> <%= exam.score %> </div>
                        <div class="col-span-1 leading-6 ml-3"> <%= exam.open_questions %> </div>
                        <div class="col-span-1 leading-6 ml-3"> <%= exam.choice_questions %> </div>
                        <div class="col-span-1 leading-6 ml-3"> <%= exam.subject %> </div>
                    </div>
                <% } %>

            
            
        </div>
    </div>
</body>

<%- include ('./partials/end') %>